body {
    margin: 0;
    padding: 0;
    background-image: url("img/faded-office.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #020202;
}

.main {
    width: 275px;
    margin: 50px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

#underline {
    border-bottom: 5px solid #0ea5e9;
}

button {
    margin-top: 15px;
    background: #0ea5e9;
    border: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 15px 30px;
}